*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.main{
    background-image: url("../images/2food.jpg");
    background-size: contain;
    width: 100vw;
}
.container1{
    display:flex;
    background-color: rgba(0,0,0,0.6);
    
}
.nav{
    text-align: center;
    justify-content: center;
    margin: 0.5%;
    padding: 1%;
    
    color: white;
}
.container2{
    margin: 10%;
  font-size: 16px;
  text-align: center;
  justify-content: center;
 
}
.heading{
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 1%;
}
.des{
    color: white;
    padding: 1%;
}
.stylebtn{
   
}
.btn{
    margin-top: 2%;
    text-decoration: none;
    background-color: tomato;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    justify-content: center;
    padding: 1%;
    margin-bottom: 10%;
}
h3{
    text-align: center;
    color: black;
    text-transform: capitalize;
    font-size: 30px;
    
}
.container3{
    display:flex;
   text-align: center;
   justify-content: center;
}
.item{
    margin:2% 1%;
    padding:2%;
    width:30%;
    height: auto;
    background-color:#efe9e5;
    border: 2px solid darkred;
    border-radius:10px;

}
.item img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.main2{
    position: relative;
}
.main2 img{
position: absolute;
/* position: static; */
width: 100vw;
height: 40vh;
opacity: 0.3;
z-index:-1; 
}

.main2 h3{
    top: 15%;
    padding: 2%;
    z-index: 2;
}
.main3{
    position: relative;
}
.main3 img{
position: absolute;
/* position: static; */
    width: 100vw;
    height: 40vh;
    opacity: 0.3;
    z-index:-1;
    
    }
    .main3 h3{
      
        padding: 2%;
        z-index: 2;
    }